
.card {
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.06);
  border-radius: 12px;
  padding: 1rem 1.25rem;
  margin-block: 2rem;
}
.box-row {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.box {
  flex: 1 1 300px;
  max-width: 320px;
  padding: 0.75rem;
  border: 2px solid #e5e7eb;
  border-radius: 10px;
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center;
  background: #fafafa;
  font-weight:600;
}
.b1,.b2,.b3 {
  background: #b2c8b7;
  border-color: #3a5246;
   }

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin: 8px 0 20px 0;
  padding: 0 20px;

}
.nav a ,#submite{
  text-decoration: none;
  color: white;
  background: #b2c8b7;
  padding: 10px 20px;
  border-radius: 8px;
  max-width: 200;
  border: 1px solid #e0e7ff;
}
.nav a:hover { background: #395748; }
div > p , h2{
  color: white;
}
#about_me{
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}
h1,h3,li{
  color: #395748;
}

.card2{
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.06);
  border-radius: 12px;
  padding: 10px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}